Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [1]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [2]:
profit=29*200-5000
print(profit)

800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [3]:
#use if-else statements and print out the required information:
num= 12
if num%6==0:
  print("divisible by 6")
elif num%3==0:
  print("divisible by 3")
else:
  print("divisible by 2")

#complete this area

divisible by 6

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [4]:
word='ANTIESTABLISHMENTARIANISTICALLY'
cnt=0
for i in word:
  cnt=cnt+1
print(cnt)

31

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [34]:
#Define a random list of fruits 
l1=['apple','mango','banana']
#iterate over the list and find the name of the fruit which has the smallest word length
min=l1[0]
for i in l1:
  if len(i)<len(min):
    min=i 
print(min) 
# append a vegetable to your existing list
l1.append('cherry')
# find the size of your list
print(len(l1))
# add enough fruits such that your list size if greater than 4
l1.append('strawberry')
# delete the 2nd fruit(1st index) from your list:
l1.pop(1)
# add your name in the 4th position of the list (3rd index)
l1.insert(3,'Ash')
for i in l1:
  print(i)
#have fun and try out any 4-5 pre-defined functions on a list as seen in the python list documentation
l2=l1.copy()
print(l2)
l2.clear()
print(l2)
x = l1.index("cherry")
print(x)
l1.reverse()
print(l1)
l1.sort()
print(l1)

apple
4
apple
banana
cherry
Ash
strawberry
['apple', 'banana', 'cherry', 'Ash', 'strawberry']
[]
2
['strawberry', 'Ash', 'cherry', 'banana', 'apple']
['Ash', 'apple', 'banana', 'cherry', 'strawberry']

TUPLES AND ITS FUNCTIONALITY:

In [30]:
#create abd tuple and print its elements 
t1=(1,7,2,5,3,8,2)
#print the type of each value in the tuple
for i in t1:
  print(type(i))
#try to change the seconf value in your tuple to "Caterpillar"
#t1[1]='Caterpillar' #Giving an error
# print the last element of the tuple without using the length of the tuple
last=''
for i in t1:
 last=i
print(last)
# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options
# print(a[-2:]), print([:3]) etc...
print(t1[-2:])
print(t1[:3])
print(t1[1:3])
print(t1[::-1])

#sort vs sorted function: find the difference in the form of a program:
t2 = tuple(sorted(t1))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
2
(8, 2)
(1, 7, 2)
(7, 2)
(2, 8, 3, 5, 2, 7, 1)

SETS AND ITS FUNCTIONALITY:

In [31]:
#explore the properties of set and after doing that solve this little puzzle below:
s1={1,3,2}
s1.add(4)
s2={5,2,7,1}
s3=s2.difference(s1)
print(s3)
s3=s2.intersection(s1)
print(s3)

{5, 7}
{1, 2}

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [32]:
from re import L
#solve the above problem and help ana do her work she may even hire you as her assistant!!!
str1="rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
l1=str1.split()
s1=set()
for i in l1:
  s1.add(i)
for i in s1:
  print(i)

asap
ffs
bob
anime
fun
happyhours
sweet16
rofl
candid
lol
macha
ootd

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [ ]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    #------fill your code here-----------------
    for i in my_list:
      if i in freq:
        freq[i]=freq[i]+1
      else:
        freq[i]=1
    for i in freq:
      print(i," : ",freq[i])
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

1  :  5
5  :  2
3  :  3
4  :  3
2  :  4

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !